@charset "UTF-8";
@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrlc/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrlc/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrlc/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrlc/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrlc/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrlc/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrlc/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrlc/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
  outline: none;
}

.button:hover {
  cursor: pointer;
  background-color: #ffdb33;
}

.section {
  padding: 55px 0 90px;
}

.section-title {
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-align: center;
}

.section-subtitle {
  display: block;
  font-size: 16px;
}

.input {
  border: 1px solid #dddddd;
  padding: 23px;
  font-size: 15px;
  border-radius: 10px;
  outline: none;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

/* Импорт стилей шапки */
.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #333333;
  font-size: 13px;
}

.navbar__button {
  font-size: 13px;
  margin-left: 28px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  text-decoration: none;
  margin-top: 7px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
}

/* Стили для главного экрана*/
.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 100px;
}

.hero-text__title {
  font-size: 41px;
  line-height: 55px;
  margin-bottom: 18px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  line-height: 65px;
  margin-bottom: 45px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  width: 38px;
  height: 38px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-right: 28px;
}

.hero-list__text {
  font-size: 14px;
  line-height: 24px;
  max-width: 250px;
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
    line-height: 1.4;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 12px;
    max-width: 270px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
}

@media (max-width: 400px) {
  .hero-list__text {
    width: 200px;
  }
}

/* Стили для блока offer*/
.offer {
  background: url("../img/offer/offer-bg.jpg") no-repeat;
  background-size: contain;
  background-position: center right;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  max-width: 360px;
  line-height: 35px;
  margin-bottom: 20px;
  text-align: left;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  margin-bottom: 26px;
  width: 100%;
  min-height: 70px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.offer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer-info__call {
  width: 228px;
  font-size: 15px;
  line-height: 24px;
}

.offer-info__callback {
  width: 200px;
  font-size: 15px;
  line-height: 24px;
}

.offer-info__phone {
  display: inline-block;
  font-size: 15px;
  line-height: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__buttom {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #fff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer__button {
    font-size: 14px;
  }
  .offer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer-info__call {
    margin-bottom: 6px;
  }
}

/* Стили для модального окна*/
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-height: 200px;
  background-color: #fff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

/* Стили для блока Portfolio*/
.portfolio {
  background: #f5f5f5 url("../img/portfolio/portfolio-bg.jpg") repeat-y center left;
  background-size: 50%;
}

.portfolio__title {
  max-width: 800px;
  font-size: 30px;
  line-height: 45px;
  margin: 35px auto 100px;
}

.portfolio__arrows {
  max-width: 120px;
  margin: 60px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__image {
  margin: auto;
}

@media (max-width: 768px) {
  .portfolio {
    background: #f5f5f5;
  }
  .portfolio__title {
    max-width: 275px;
    line-height: 1.2;
    font-size: 18px;
    margin: 0 auto 40px;
  }
}

@media (max-width: 400px) {
  .portfolio__arrows {
    margin: 40px auto 0;
  }
  .slider__image {
    max-width: 250px;
  }
}

/* Стили для блока Price*/
.price__title {
  margin: auto;
  max-width: 515px;
  font-size: 30px;
  line-height: 45px;
  margin-bottom: 58px;
}

.price__subtitle {
  text-align: center;
  font-size: 20px;
  line-height: 45px;
  margin-bottom: 59px;
}

.price__card {
  margin-bottom: 30px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card__image:before {
  opacity: 1;
}

.card__text {
  padding: 40px 0;
}

.card__title {
  margin-top: 0;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 45px;
}

.card__image {
  position: relative;
}

.card__image img {
  display: block;
}

.card__image:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card__link {
  display: inline-block;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  line-height: 18px;
  position: relative;
}

.card__link:hover:after {
  height: 12px;
}

.card__link:after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .price__title {
    max-width: 250px;
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 20px;
  }
  .price__subtitle {
    font-size: 14px;
    line-height: 1.4;
  }
  .card {
    margin: 30px auto;
  }
  .card:last-child {
    margin: 0 auto;
  }
}

/* Стили для блока Steps*/
.step {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
  position: relative;
}

.step:after {
  content: '';
  width: 72px;
  height: 25px;
  top: -10px;
  right: -15%;
  position: absolute;
  background: url("../img/steps/arrow-steps.png") no-repeat center;
}

.step:last-child:after {
  display: none;
}

.step__image {
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 30px;
}

.step__text {
  font-size: 14px;
  line-height: 20px;
  max-width: 155px;
  margin: auto;
}

.steps__title {
  margin: auto;
  margin-bottom: 59px;
  max-width: 660px;
  font-size: 30px;
  line-height: 45px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.steps__subtitle {
  margin-bottom: 58px;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .step {
    margin-bottom: 30px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .step:after {
    display: none;
  }
  .steps-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .step {
    margin-bottom: 30px;
  }
  .step:after {
    display: none;
  }
  .step__text {
    font-size: 12px;
    line-height: 16px;
    max-width: 129px;
  }
  .step__image {
    margin-bottom: 20px;
  }
  .steps__title {
    max-width: 240px;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 12px;
  }
  .steps__subtitle {
    font-size: 14px;
    line-height: 45px;
    margin-bottom: 25px;
  }
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* Стили для блока Brif*/
.brif {
  background-image: url(../img/brif/brif-color-bg.jpg), url(../img/brif/brif-bg.jpg);
  background-position: left center, center right;
  background-size: 50%, contain;
  background-repeat: repeat-y, no-repeat;
}

.brif-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brif__interview {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.brif__form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 215px;
  text-align: center;
}

.brif__input {
  width: 100%;
  max-width: 370px;
  margin-bottom: 15px;
}

.brif__button {
  margin-top: 15px;
  margin-bottom: 28px;
  height: 70px;
  width: 100%;
  max-width: 370px;
  font-size: 16px;
  line-height: 18px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.interview {
  padding-right: 60px;
}

.interview__title {
  max-width: 555px;
  font-size: 22px;
  line-height: 33px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 50px;
}

.interview__subtitle {
  display: block;
  font-size: 16px;
  line-height: 45px;
  margin-bottom: 80px;
}

.interview-list {
  list-style: none;
  padding: 0;
}

.interview-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.interview-list__counter {
  display: inline-block;
  margin-right: 30px;
  text-align: center;
  line-height: 35px;
  width: 35px;
  height: 35px;
  border: 2px solid #333333;
  border-radius: 50%;
  font-size: 14px;
}

.interview-list__text {
  max-width: 390px;
  font-size: 18px;
}

.form__title {
  font-size: 22px;
  line-height: 33px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 50px;
}

.form__subtitle {
  display: block;
  font-size: 16px;
  line-height: 45px;
  margin-bottom: 35px;
}

.form__description {
  font-size: 15px;
  line-height: 24px;
  display: block;
}

@media (max-width: 1200px) {
  .brif {
    background-image: url(../img/brif/brif-color-bg.jpg), url(../img/brif/brif-bg.jpg);
    background-position: left center, center right;
    background-size: 50%, cover;
    background-repeat: repeat-y, no-repeat;
  }
  .brif__form {
    padding-left: 30px;
  }
  .interview {
    padding-right: 30px;
  }
  .interview__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .interview__subtitle {
    margin-bottom: 30px;
  }
  .interview-list__text {
    font-size: 14px;
    max-width: 300px;
  }
  .interview-list__counter {
    margin-right: 20px;
  }
  .form__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .form__subtitle {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .brif {
    background-image: url(../img/brif/brif-color-bg.jpg), url(../img/brif/brif-bg.jpg);
    background-position: top center, center bottom;
    background-size: 100% 50%, cover;
    background-repeat: repeat-x, no-repeat;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brif__form {
    margin-top: 80px;
    padding-left: 0;
  }
  .brif__interview {
    padding-right: 10px;
  }
  .brif__button {
    margin-top: 0;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 24px;
  }
  .brif__input {
    margin-bottom: 10px;
  }
  .interview__title {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.2;
    max-width: 220px;
  }
  .interview__subtitle {
    font-size: 14px;
    line-height: 1.2;
    max-width: 180px;
    margin-bottom: 35px;
  }
  .interview-list__text {
    max-width: 240px;
  }
  .interview-list__counter {
    margin-right: 10px;
  }
  .form__title {
    margin: 50px auto 15px;
    font-size: 18px;
    line-height: 25.35px;
    max-width: 290px;
  }
  .form__subtitle {
    font-size: 14px;
    line-height: 26.88px;
  }
  .form__description {
    font-size: 14px;
    line-height: 24px;
    max-width: 135px;
    margin: 0 auto;
  }
}

/* Стили для блока footer*/
.footer {
  position: relative;
}

.map {
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
}

.contacts {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-top: 70px;
  padding-left: 210px;
}

.contacts__title {
  font-size: 22px;
  line-height: 1.5;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin-bottom: 90px;
  max-width: 310px;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts-list {
  padding: 0;
  list-style: none;
}

.contacts-list__icon {
  line-height: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  margin-right: 23px;
}

.contacts-list__text {
  max-width: 147px;
  font-size: 16px;
  line-height: 26px;
}

.contacts-list__text a {
  text-decoration: none;
  color: #333333;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.contacts-list__text-bold {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.contacts-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .map {
    position: static;
    width: 100%;
  }
  .contacts {
    paddint-top: 50px;
    padding-left: 0;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .contacts__title {
    max-width: 240px;
    width: 100%;
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 1.2;
  }
  .contacts-block {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .contacts-list__icon {
    margin-right: 15px;
  }
  .contacts-list__text {
    font-size: 16px;
    line-height: 26px;
  }
}
/*# sourceMappingURL=style.css.map */